@media only screen and (max-width: 425px) {
    .info{
        width: 100%;
        display: flex;
        flex-direction: column;
        font-size: 20px;
    }
}

/* Tablet Layout */
@media only screen and (min-width: 426px) and (max-width: 768px) {
.info{
    width: 100vw;
    font-size: 22px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 6px 15px
}
}



@media only screen and (min-width: 769px) and (max-width: 2560px) {
.info{
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    padding: 13px;
    /* width: 70%; */
   
}
}