@media only screen and (min-width: 769px) and (max-width: 2560px) {
.main{
    flex: 4.5;
    /* border: 1px solid black; */
   /* height: 100%; */
   height: auto;

}
}

@media only screen and (max-width: 425px) {
    .main{
        width: 100%;
        height: auto;
       
    }
}